body{
    margin: 0;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 13px;
    max-width: 400px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}

button:hover{
    background-color: hsl(0, 0%, 45%);
}

button:active{
    background-color: hsl(0, 0%, 55%);
}

.op-btn{
    background-color: hsl(39, 100%, 50%);
}

.op-btn:hover{
    background-color: hsl(39, 100%, 60%);
}

.op-btn:active{
    background-color: hsl(39, 100%, 75%);
}